.calendar {
  width: 900px;
  height: 600px;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.calendar-header {
  width: 100%;
  height: 50px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
}

.title h2 {
  margin: auto;
}

.tools {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
}

.tools button {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: #ffffff;
  border: none;
}

.tools button span:hover {
  color: #99cccc;
}

.calendar-body {
  width: 100%;
  flex-grow: 1;
}

.calendar-table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.calendar-table th,
.calendar-table td {
  border: 1px solid #a6a6a6;
  width: 14.28%; /* 7 columns, so each should take up 1/7th of the width */
  height: 100px;
  text-align: left;
  vertical-align: top;
  position: relative;
  padding: 10px;
}

.calendar-table th {
  background-color: #f0f0f0;
  font-weight: bold;
}

.calendar-table td {
  cursor: pointer;
}

.calendar-table td:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.dayNumber {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 1.2rem;
  color: #a6a6a6;
}

.eventName {
  margin-top: 2.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: #0056b3;
}

.current p {
  color: #000000;
}

.selected p {
  color: #cc0000;
  font-weight: bold;
}
